:root {
    --lightgreen: #5DC9BE;
    --darkgrey: #CECECE;
    --lightgrey: #BABABA;

    --lightblue: #233D63;
    --white: #ffffff;
}

.hero-section .main-flex-one {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.main-flex-one .left-col {
    flex-basis: 47%;
}

.main-flex-one .right-col {
    flex-basis: 53%;
}

.left-col .bg-section {
    min-height: 463px;
    background-size: contain;
}

.hero-section {
    padding: 110px 0px 110px 0px;
}

.right-col .underline {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.right-col-content {
    max-width: 377px;
    width: 100%;
    margin: 0 0 0 auto;
    text-align: right;
    padding: 35px 0px 35px 0px;
}

.right-col-form {
    text-align: end;
}

.right-col-form .input {
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
    padding: 18px 109px 18px 20px;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.5;
}

.right-col-form .form-button {
    padding: 18px 31px 18px 31px;
    border: 1px solid var(--lightgreen);
    border-radius: 4px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--lightgreen);
    background-color: var(--white);
    display: inline-block;


}

.right-col-form .form-button:hover {
    color: var(--white);
    background-color: var(--lightgreen);
}

.slider-section .buisness-logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buisness-logo-flex .buisness-logo {
    flex-basis: 20%;
}

.slider-moves .slider-heading {
    margin: 45px 0px 45px 0px;
}

.slider-section .slider-images {
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
    padding: 30px 0px 30px 0px;
}
section.limelight-section{
    padding-bottom: 130px;
    position: relative;
    margin: 130px 0px 130px 0px;
}
section.limelight-section::after{
    content: "";
    background-image: url(./Group\ 815.svg);
    min-height: 214px;
    max-width: 131px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: -14px;
    top: -103px;
}

.buisness-logo img {
    display: block;
    width: 100%;
    max-width: 120px;
}

.buisness-logo-flex .logo {
    width: 110px;
    max-width: 110px;
    min-height: 44px;
    -o-object-fit: contain;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.limelight-body .lime-light-heading {
    max-width: 631px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.limelight-body .lime-light-heading-content {
    max-width: 539px;
    margin: 0 auto;
    margin-top: 15px;

}

.flex-image img {
    width: 100%;
    display: block;
}

.limelight-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.limelight-flex .limeflex-one {
    flex-basis: 26.5%;
}

.limelight-flex .limeflex-one:not(:nth-child(3n+3)) {
    margin-right: 9.5%;
}

section.limelight-section {
    padding: 70px 0px;
    background-color: #FBFBFB;
}

.limelight-section .container {
    max-width: 1033px;
    margin: 0 auto;
}

.limelight-body .flex-describe {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #30496D;
    text-align: center;
    padding: 30px 0px 50px 0px;
}

.limelight-body a.flex-buttons {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #233D63;
    letter-spacing: 0.225px;
}
.limelight-body a.flex-buttons:hover{
    color:var(--lightgreen)
}
.limelight-body .flex-button {
    text-align: center;
}

.limelight-body .underline-one {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
    color: #233D63;
}

.limelight-body .flex-heading h5{
    margin-top: 30px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.0552632px;
}
.slider-section-two{
    background-color: #FBFBFB;
    padding: 100px 0px 100px 0px;
    position: relative;
    z-index: 1;
}
.image-quotes img {
    max-width: 105px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.image-quotes {
    margin-bottom: 50px;
}
.slider-review {
    max-width: 710px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.developer-image img {
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
}
.slider-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.developer-image {
    margin-right: 20px;
}
.developer-details .developer-name{
font-family: 'Overpass';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
}

.developer-details .role{
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.slider-review{
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 38px;
text-align: center;
}
.slider-section-two::after{
    content: "";
    background-image: url("./Mask\ Group.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 123px;
    min-height: 141px;
    position: absolute;
    z-index: -1;
    top: 17%;
    left: 78%;
    transform: translate(-50%, -50%);
}


.slider-section-two::before{
    content: "";
    background-image: url("./Mask\ Group\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 123px;
    min-height: 141px;
    position: absolute;
    z-index: -1;
    top: 17%;
    left: 24%;
    transform: translate(-50%, -50%);

}
.slider-section-two .container{
    position: relative;
    z-index:1;
}
.slider-section-two .container::before{
    content: "";
    background-image: url("./Mask\ Group\ \(3\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: -6%;
    transform: translate(-50%, -50%);
}
.slider-section-two .container::after{
    content: "";
    background-image: url("./Mask\ Group\ \(4\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -13%;
    transform: translate(-50%, -50%);

}
.experts-social-link{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.link-one{
    flex-basis: 15%;
}
.link-one .fa-brands{
    color: #1E135C;
    width: 100%;
    max-width: 9px;
    min-height: 16px;
}
.meet-experts-body{
    background-color:#FBFBFB;
}
.meet-experts-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 180px;
    position: relative;
    z-index: 1;
}
.meet-experts-flex::after{
    content: "";
    background-image: url("./Vector\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 40px;
    min-height: 34px;
    transform: translate(-50%,-50%);
    position: absolute;
    top:0;
    left: 23%;
    z-index: -1;
}
.meet-experts-flex::before{
    content: "";
    background-image: url("./Vector\ \(2\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 40px;
    min-height: 34px;
    transform: translate(-50%,-50%);
    position: absolute;
    bottom: -18%;
    left: 67.5%;
    z-index: -1;
}



.bg-vector{
    position: relative;
    z-index: 1;
}
.bg-vector::after{
    content: "";
    background-image: url("./Vector\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 40px;
    min-height: 34px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: -17px;
    left: 89%;
    z-index: -1;
    transform: scaleX(-1);
}
.experts-flex-one{
    flex-basis: 23.1%;
    text-align: center;
    border: 1px solid #BABABA;
    border-radius: 4px;
    padding: 40px 0px;
    margin-right: 5%;
}
.experts-designation{
    margin: 20px 0px;
}
.buisness-experts .underline-one{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
    color: #233D63;
}
.experts-heading{
    text-align: center;
    padding-bottom: 120px;
}
.buisness-experts{
    margin: 125px 0px;
}



























/* -------------media queries------------------ */

@media (min-width:768px) and (max-width:1024px) {
    .rightcol-heading h1 {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        color: var(--lightblue);
        text-align: right;

    }

    span.underline {
        text-decoration: underline;
        text-underline-offset: 8px;
        font-family: 'Overpass';
        font-weight: 800;
        font-size: 46px;
        line-height: 52px;
    }

    .right-col-content {
        max-width: 377px;
        width: 100%;
        padding: 30px 0px 30px 0px;
    }

    .right-col-form .form-button {
        padding: 15px 31px 15px 31px;
        margin-top: 20px;
    }

    .right-col-form .input {
        padding: 15px 109px 15px 20px;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.5;
    }
    .limelight-body .flex-heading h5 {
        margin-top: 30px;
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.0552632px;
    }
    .slider-review{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        max-width: 467px;
        width: 100%;
        text-align: center;
        margin: 0 auto;  
}
.slider-section-two .container::after {
    content: "";
    background-image: url(./Mask\ Group\ \(4\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -6%;
    transform: translate(-50%, -50%);
}
.slider-section-two .container::before {
    content: "";
    background-image: url(./Mask\ Group\ \(3\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 5%;
    transform: translate(-50%, -50%);
}





}











@media (max-width:767px) {
    .hero-section .main-flex-one {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .main-flex-one .left-col {
        flex-basis: 100%;
    }

    .main-flex-one .right-col {
        flex-basis: 100%;
    }

    .rightcol-heading h1 {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 39px;
        line-height: 48px;
        color: var(--lightblue);
        text-align: center;
        margin-top: 70px;

    }

    span.underline {
        text-decoration: underline;
        text-underline-offset: 8px;
        font-family: 'Overpass';
        font-weight: 800;
        font-size: 39px;
        line-height: 48px;
    }

    .right-col-content {
        max-width: 620px;
        width: 100%;
        padding: 30px 0px 30px 0px;
        margin: 0 auto;
        text-align: center;
    }

    .right-col-form .form-button {
        padding: 15px 31px 15px 31px;
        margin-top: 20px;
    }

    .right-col-form .input {
        padding: 15px 109px 15px 20px;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.5;
    }

    .right-col-form {
        text-align: center;
    }

    .left-col .bg-section {
        min-height: 250px;
    }

    .hero-section {
        padding: 50px 0px 50px 0px;
    }

    .left-col .bg-section {
        min-height: 350px;
    }
    .limelight-flex .limeflex-one {
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    
    .limelight-flex .limeflex-one:not(:nth-child(3n+3)) {
        margin-right: 0%;
    }
    .flex-image img {
        width: 100%;
        max-width: 263px;
        display: block;
        margin: 0 auto;
    }
    .limelight-body .flex-describe {
        padding: 20px 0px 20px 0px;
    }
    .lime-light-heading h2 {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: var(--lightblue);
    }
    .limelight-body .underline-one {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        text-decoration-line: underline;
        color: #233D63;
    }
    .slider-review{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        max-width: 467px;
        width: 100%;
        text-align: center;
        margin: 0 auto;  
}
.slider-section-two .container::after {
    content: "";
    background-image: url(./Mask\ Group\ \(4\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -6%;
    transform: translate(-50%, -50%);
}
.slider-section-two .container::before {
    content: "";
    background-image: url(./Mask\ Group\ \(3\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 82px;
    min-height: 87px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 5%;
    transform: translate(-50%, -50%);
}
.image-quotes img {
    max-width: 65px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


    

}











@media (max-width:480px) {
    .hero-section .main-flex-one {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .main-flex-one .left-col {
        flex-basis: 100%;
    }

    .main-flex-one .right-col {
        flex-basis: 100%;
    }

    .rightcol-heading h1 {
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 43px;
        color: var(--lightblue);
        text-align: center;
    }

    span.underline {
        text-decoration: underline;
        text-underline-offset: 8px;
        font-family: 'Overpass';
        font-weight: 800;
        font-size: 28px;
        line-height: 43px;
    }

    .right-col-content {
        max-width: 406px;
        width: 100%;
        text-align: center;
        padding: 35px 0px 35px 0px;
    }

    .right-col-form .form-button {
        padding: 15px 31px 15px 31px;
        margin-top: 20px;
    }

    .right-col-form .input {
        padding: 15px 109px 15px 20px;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.5;
    }

    .right-col-form {
        text-align: center;
    }

    .left-col .bg-section {
        min-height: 250px;
    }

    .hero-section {
        padding: 50px 0px 50px 0px;
    }
    .lime-light-heading h2 {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: var(--lightblue);
    }
    .limelight-body .underline-one {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        text-decoration-line: underline;
        color: #233D63;
    }
    .image-quotes img {
        max-width: 50px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .slider-review {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        max-width: 467px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 22px;
    } 
       .slider-section-two .container::after {
        content: "";
        background-image: url(./Mask\ Group\ \(4\).svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 82px;
        min-height: 87px;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: -12%;
        transform: translate(-50%, -50%);
    }
    .slider-section-two .container::before {
        content: "";
        background-image: url(./Mask\ Group\ \(3\).svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 82px;
        min-height: 87px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: 8%;
        transform: translate(-50%, -50%);
    }
    .developer-image img {
        width: 100%;
        max-width: 55px;
        margin: 0 auto;
    }
   

}