
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Open+Sans:wght@400;600&family=Overpass&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Open+Sans:wght@400;600&family=Overpass:wght@400;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-wrapper {
    max-width: 1204px;
    padding: 0 20px;
    margin: 0 auto;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 67px;
    line-height: 80px;
    color: var(--lightblue);
    text-align: right;

}

h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: var(--lightblue);

}

h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    color: var(--lightblue);

}

h4 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--lightblue);
}

h5 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--lightblue);
}

h6 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.225px;
    color: var(--lightblue);
}

p{
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: var(--lightblue);
    font-size: 20px;
    line-height: 28px;
}

span.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    font-family: 'Overpass';
    font-weight: 800;
    font-size: 67px;
    line-height: 80px;
}

.bg-section {
    background-repeat: no-repeat;
    background-position: center;

}

.secondary-button {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #5DC9BE;
    padding: 14px 52px 14px 53px;
    background-color: transparent;
    border: 1px solid #5DC9BE;
    border-radius: 4px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    color: #ffffff;
    background-color: #5DC9BE;
    display: inline-block;

}

.secondary-button:hover {
    color: #5DC9BE;
    background-color: transparent;
}
